@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    color: #444
}

h1,
h3 {
    font-size: 30px;
    margin: 20px 0 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

h4 {
    font-size: 24px;
}

.header {
    width: 100vw;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}

.header-text {
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-header {
    max-width: 150px;
    height: auto;
}

/* Hamburger */

.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    display: none;
}

.header .navbar a {
    font-size: 20px;
    margin-left: 2rem;
    font-weight: 600;
}


.header .navbar a:hover {
    border-bottom: 2px solid #444;
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


/* header */

/* home */

.home {
    height: 500px;
    display: flex;
    background: url(../images/pexels-churckyno-bryant-1546035.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home-container {
    width: 100%;
    /* background-color: rgba(45, 48, 55, 0.4); */
}

.content {
    width: 50vw;
    margin: auto;
    text-align: center;
}

.content-img img {
    width: 530px;
}

.home .content h3 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #d9c4bf;
    margin-top: 120px;
    margin-bottom: 50px;
    font-weight: 500;
}

.content-box_share a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: #d9c4bf;
    margin: 0 0.5rem 1.2rem;
    text-align: center;

}

.fab:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-instagram:hover {
    color: #d62976;
}

.button {
    margin-top: 10px;
    background-color: #d9c4bf;
    padding: 10px 25px;
    border-radius: 10px;
    display: inline-block;
}

.button:hover {
    transform: scale(1.2);
}

/* home */

/* about */
.about {
    width: 70vw;
    margin: auto;
}

.content_text {
    font-size: 20px;
    line-height: 2rem;
    margin-bottom: 40px;
    text-align: center;
}

.row {
    width: 100vw;
    background-color: #f5f5f5;
}

.foto-container {
    width: 70vw;
    margin: auto;
    /* background-color: rgba(213, 196, 191, 0.7); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foto {
    width: 250px;
    background-color: #fff;
    margin: 40px 0 40px;
    text-align: center;
    box-shadow: 15px 15px 0 #d9c4bf;
    border: 2px solid #bbb;
}

.foto img {

    height: 274px;
    margin: 10px;
}


.foto h3 {
    margin: 5px;
}

.foto p {
    padding: 10px;
}

.interior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;

}

.interior img {
    width: 300px;
}

/* about */


/* kontakty */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    line-height: 35px;
}

.contact-info_salon {
    margin: 15px 0 15px;
}

.contact-info_telephone {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 10px -5px 10px;
}

.contact-info_bolt {
    font-weight: 500;
    font-size: 18px;
}

.contact-location_mapa iframe {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* kontakty */

/* Galerie */
main {
    width: 70vw;
    margin: auto;
}

.galerie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
    gap: 30px;
}

.galerie-foto {
    width: 220px;
    height: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.galerie-foto:hover {
    cursor: pointer;
    transform: scale(1.2)
}



@media (max-width:1000px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background: var(--white);
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 1200;
    }

    .header .navbar #close-navbar {
        display: block;
    }

    .header .navbar.active {
        background-color: #fff;
        right: 0;
    }

    .header .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }

    .home .content h3 {
        font-size: 5.5rem;
    }

    .home .content h3 {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 70%;
    }

    h2 {
        font-size: 30px;
    }

    .contact-location_mapa iframe {
        width: 300px;
        height: 225px;
    }
}


/* Price */
.services {
    width: 70vw;
    margin: auto;
}

.services-container {
    margin: 40px 0 40px;
    text-align: left;
    box-shadow: 15px 15px 15px #d9c4bf;

}

.services-container_title {
    text-align: left;
    line-height: 2rem;
    font-size: 22px;
}

.services-container_table .services-container_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 0 10px;
}

.services span {
    font-size: 12px;
}

.text-left {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.text-right {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    text-align: right;
    padding: 8px;
}

.note {
    color: red;
    padding: 10px 0 10px;
    font-size: 16px;
}

/* Footer */
footer {
    height: 200px;
    background-color: #444;
}

.footer-container {
    padding-top: 10px;
    width: 70vw;
    margin: auto;
}

.footer-box {
    text-align: center;
}

.footer-container p {
    padding: 8px 0 8px 0;
    color: #d9c4bf;
}

.footer-box_text {
    font-size: 20px;
}

.footer-conditions {
    display: flex;
    justify-content: space-between;

}

.footer-text_protection {
    font-size: 16px;
    color: #d9c4bf;

}

.footer-text_protection:hover {
    cursor: pointer;
    border-bottom: 1px solid #d9c4bf;
}

.footer-text_copyright {
    font-size: 14px;
    color: #d9c4bf;
    margin-right: 30px;
}

/* ....404..... */
.error {
    text-align: center;
    padding-top: 150px;
}

.error p {
    font-size: 30px;
    padding-bottom: 100px;
}
